.App {
  text-align: center;
}

.title {
  margin-right: 5em;
}

.big {
  font-size: 4em;
  justify-content: center;
  align-items: center;
}

.author {
  margin-right: 5em;
}
img.logo {
  height: 200px;
  width: auto;
  margin-right: 10em;
  display:flex;
  align-items: flex-start;

}

.bookList {
  display: flex;
  align-items: center;
  justify-content: center;
}



.header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

}

.header h1 {
  color: #A6A49B
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.thumb {
  height: 350 px;
  width: 250px;
  margin-top: 4em;
  margin-right: 4em;
}
