.App {
  text-align: center;
}

.title {
  margin-right: 5em;
}

.big {
  font-size: 4em;
  justify-content: center;
  align-items: center;
}

.description {
  margin-right: 3em;
  width: 400px;
}

.author {
  margin-right: 5em;
}
img.logo {
  height: 200px;
  width: auto;
  margin-right: 10em;
  display:flex;
  align-items: flex-start;

}

.bookList {
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: #282c34;
  border-width: thin;
  border-spacing: 1em;
  border-style: solid;
  margin: 1em;
}



.header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

}

.header h1 {
  color: #A6A49B
}

.App-link {
  color: #61dafb;
}


.thumb {
  height: 350 px;
  width: 250px;
  margin-top: 4em;
  margin-bottom: 4em;
  margin-right: 4em;
  margin-left: 2em;
}


a.button1:hover{
color:#000000;
 background-color:#FFFFFF;
}

@media all and (max-width:30em){
 a.button1 {
  display:block;
  margin:0.4em auto;}
}

a.button1 {
  display:inline-block;
  background: powderblue;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s;
}

a.button1 .selected {
  display:inline-block;
  background: #1ABB5A;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s;
}
